<!doctype html>
<html>
<head>
    <title>Lepo: Amplify your social outreach</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body{ 
            padding-top:80px;
            background-color: #212121;
            color: #FFFFFF;
        }
    </style>
</head>

<body>
    <h1><span class="fa"></span> Lepo </h1>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-bullhorn"></span> Login</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Your username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Your password">
            </div>

            <button type="submit" class="btn btn-success btn-lg">Login</button>
        </form>
        <br>
        <p >Don't have an account? <a href="/signup">Sign up here.</a></p>
    </div>
</body>
</html>